 <h1 class = "head_color font_size"> Successful Login </h1> 
<h2 class = "head_color " >  Enter Your First Name </h2> 
<p class = "back_gr"></p>

<form method = "post" action = "first_last"> 
   <p class = "head_color"> First Name <input type ="text" name = "f_name"> </p>
 <p class = "head_color">  Last Name <input type = "text" name = "l_name"> </p>
    <input type = "submit" value = "submit">
</form>