<h1>  Enter Your First Name </h1> 
<form method = "post" action = "first_last"> 
    <input type ="text" name = "f_name">
    <input type = "text" name = "l_name">
    <input type = "submit" value = "submit">
</form>