<h1 class = "head_color font_size"> <%=f_name.capitalize%> <%=l_name.capitalize%> Pick a number </h1>
   <form method = "post" action = "first_num">
<p class = "head_color font"> First Number <input type ="number" name = "f_num"> </p> 
             <input type = "submit" value = "submit">
                                                    <input type = "hidden" name = "f_name" value = "<%=f_name%>">
                                                    <input type = "hidden" name = "l_name" value = "<%=l_name%>">
    </from> 
