 <head>
 <link rel= "stylesheet" href = "css/stlye.css">
 <p class = "head_color font_size" > </p>

</head>

<body>
 <ul>
    <li> <a href= '/nowhere'>Create new account
    <a href= '/first_last'> Want to skip?</a>
    <a href= '/game'> Start the math problum?</a>
    <a href= '/'> Start over</a></li>
</ul> 
<%=yield%>
<p class = "back_gr"></p>

</body>

<footer>

<a href = "https://www.w3schools.com/html" target = "_blank"> Vist the website </a>
<footer>