<h1> Mined Minds Calculator </h1> 
<div class = "back_gr">
 </div>

 <%=error%> Enter Your Username and Password  
<form method = "post" action = "login"> 
    Username <input type ="text" name = "user_nam"> 
    Password <input type = "password" name = "p_word">
             <input type = "submit" value = "submit">
</form>