<h1 class = "head_color"> Mined Minds Calculator </h1> 
<div class = "back_gr">
 </div>

 <p class = "head_color"> <%=error%> Enter Your Username and Password </p>  
<form method = "post" action = "login"> 
    <p class = "head_color"> Username <input type ="text" name = "user_nam"> </p>
    <p class = "head_color"> Password <input type = "password" name = "p_word"> </p> 
             <input type = "submit" value = "submit">
</form>